body{
    font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    background: linear-gradient(to right,
    #4801aa , #2b0264);
    display: flex;
    align-items: center;
    margin: 0 145px;
    
}

h1{
    
    font-weight: 500;
    color: rgb(255, 255, 255);
}